extends ./layout-default.pug

block articleMeta 
  h2.article-title About Me

block content
  .content
    p Hi, I'm 
      span.hero Travis

    p
      | I specialize in providing solutions to highly vertical problems.
      | That just means that I like exploring the dark corners in processes 
      | to solve complex problems.
    p 
      | My toolkit of choice is Node/JavaScript but, after twenty-five years 
      | of solving tough technical problems, I've become adept with lots of
      | tools like Ruby, PHP, C# and shell-scripting. I have experience with a
      | variety of databases, including PostgreSQL, MySQL, MongoDB, and Redis.
    
    h3 Why Me?
    ul 
      li Communications Specialist - A project success is 20% technical skill 
        | and 80% communication skill. I've led teams 
      li Polyglot - I can work with a variety of languages and tools

    p 
      | I live on the Yucatan Peninsula in Mexico.
      | When I am not working, I'm spending time with my wife and duaghter.
      | Hopefully we're successfully teaching our daughter to live a 
      | deliberate, creative life based on values, not fads.

block aside
  .feature 
    h3 Languages
    ul
      li Node.js/JavaScript
      li Ruby
      li PHP
      li C#
  .feature
    h3 Databases
    ul
      li SQLs: PostgreSQL, MySQL
      li NoSQLs: MongoDB, Redis
  .feature        
    h3 Front-side 
    ul
      li HTMx
      li Vanilla JavaScript
      li React
      li React Native
      li Electron
      li CSS
  .feature    
    h3 Back-side
    ul
      li Node.js
      li Express
      li Ruby on Rails
      li HTMx
      li PHP
  .feature
    h3 Cloud 
    ul
      li AWS: S3, SQS, SNS, Lambda, DynamoDB
      li Heroku
      li Render 
      li Google Cloud 
  .feature
    h3 Other
    ul      
      li Docker 
