extends ./layout-default.pug

block mainContent
  h2.article-title About Me
  .content
    p Hi, I'm 
      span.hero Travis.
    p
      | I am a software engineer specializing in providing solutions in highly 
      | vertical applications.
    p 
      | My software: 
    ul 
      li Coordinates the production of about $1 million a week in merchandise 
        | in 3 sites spread across 2 continents.
      li Supports volunteer relief programs for disaster victimes in the Los 
        | Angeles area. 
      li Provides Southern California School Districts COVID-19 alerting tools.
      li Provides warehouse-management functions in a mobile app to a global 
        | print-on-demand licensee.
      li Provides network monitoring for remote translation sites in the deepest 
        | parts of central Africa.
    p 
      | I live on the Yucatan Peninsula in Mexico with my wife and daughter.

block aside
  +skillList("innerHTML:aside")