extends ./layout-default.pug

block content
  .hero
    .hero-content
      .hero-text
        | Hello, I'm 
        h2.my-name Travis Colbert
        h3 I provide best-fit solutions to your complex problems
      .hero-blurb 
        | I am a software engineer with a passion for building web applications. 
        | I am an expert in providing solutions to highly vertical problems.
