doctype html
html(lang="en")
  include _includes/head.pug
  body
    header 
      include _includes/header.pug
      //- include _includes/breadcrumbs.pug
    main
      aside
        block meta
      section 
        .messages
          include _includes/messages.pug
        .flashes
          include _includes/flashes.pug
        article
          block content 
    footer
      include _includes/footer.pug
    include _includes/foot.pug