include _includes/mixins

if fullPage
  doctype html
  html(lang="en")
    include _includes/head.pug
    body.layout
      header
        +header("#article-content")
      main.section-layout
        header 
          block sectionHeader
          block meta
          if messages
            .messages
              include _includes/messages.pug
          if flashes
            .flashes
              include _includes/flashes.pug
        aside 
          block aside
        article#article-content
          block mainContent
      footer.footer
        include _includes/footer.pug
    include _includes/foot.pug
else
  block head
  block mainContent
  block aside
  //- block articleMeta
  //- block content