include _includes/mixins.pug

if fullPage
  doctype html
  html(lang="en")
    include _includes/head.pug
    body.layout
      header
        include _includes/header.pug
        //- include _includes/breadcrumbs.pug
      main.section-layout
        header 
          block sectionHeader
          block meta
          if messages
            .messages
              include _includes/messages.pug
          if flashes
            .flashes
              include _includes/flashes.pug
        aside 
          block aside
        article
          header#main-article-meta-header
            block articleMeta
          block content
      footer.footer
        include _includes/footer.pug
    include _includes/foot.pug
else
  block articleMeta
  block content