block head 
  script(src="https://kit.fontawesome.com/d5c73f28c4.js", crossorigin="anonymous")

doctype html
html(lang="en")
  include _includes/head.pug
  body.layout
    header
      include _includes/header.pug
    main.centered-layout
      block content
    footer.footer
      include _includes/footer.pug
  include _includes/foot.pug