doctype html
html(lang="en")
  include _includes/head.pug
  body.layout
    header
      include _includes/header.pug
      //- include _includes/breadcrumbs.pug
    main.main
      section.section
        header 
          block sectionHeader
          block meta
          if messages
            .messages
              include _includes/messages.pug
          if flashes
            .flashes
              include _includes/flashes.pug
        aside 
          block aside
        article
          header 
            block articleMeta
          .content
            block content
    footer.footer
      include _includes/footer.pug
  include _includes/foot.pug