include _includes/mixins

doctype html
html(lang="en")
  include _includes/head.pug
  body.layout
    header
      +header
    main.centered-layout
      block content
    footer.footer
      include _includes/footer.pug
  include _includes/foot.pug