:root {
  --color-foreground: hsla(35, 17%, 34%, 1);
  --color-background: hsla(0, 0%, 96%, 1);
  --color-accent-primary: hsla(153, 100%, 61%, 1);
  --color-accent-secondary: hsla(180, 6%, 41%, 1);
  --color-accent-tertiary: hsla(190, 13%, 73%, 1);

  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

  --main-width-hd: 1600px;
  --main-width-hr: 1400px;
  --main-width-desktop: 1024px;
  --main-width-tablet: 768px;
  --main-width-mobile: 480px;

  --aside-width-desktop: 300px;

  --body-font-family: 'Source Code Pro', monospace, 'Source Sans Pro', sans-serif;

  --body-font-size: 18px;
  --body-font-size-secondary: 16px;
  --body-font-size-tertiary: 14px;

  --body-line-height: 1.6;
  --body-line-height-secondary: 1.4;
  --body-line-height-tertiary: 1.2;

  --article-line-padding: 1.5rem;

  --body-hr-font-size: 22px;
  --body-hr-line-height: 1.6;

  --body-radius: 1.5rem;

  --body-padding: 1.5rem;
  --body-hr-padding: 2rem;
}

/* layout Setup */
body {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
320px: Small mobile devices (e.g., iPhone SE).
480px: Larger mobile devices.
768px: Tablets (e.g., iPads in portrait mode).
1024px: Small laptops or tablets in landscape mode.
1200px: Desktops or larger screens.
1440px: High-resolution desktops or large monitors.
1920px: Full HD screens or very large monitors.
*/

/**
 * Body-level grid layout
 */
.layout {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid:
    ". header ." 2rem ". main ." 1fr ". footer ." 2rem / auto var(--main-width-desktop) auto;
  gap: 0;
  box-sizing: border-box;
}

.layout>* {
  padding: 0 var(--body-padding);
}

body>header {
  grid-area: header;
  font-size: larger;
}

body>main {
  grid-area: main;
  max-width: 100%;
  display: grid;
  grid:
    "section-header section-header" auto "article aside" 1fr / calc(var(--main-width-desktop) - (var(--aside-width-desktop) + (3 * var(--body-padding)))) var(--aside-width-desktop);
  gap: var(--body-padding);
}

body>footer {
  grid-area: footer;
}

body>header,
body>footer {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1023px) {
  :root {
    --body-padding: 1rem;
  }

  .layout {
    grid:
      "header" auto "main" 1fr "footer" auto / 100vw;
  }

  body>main {
    grid:
      "section-header" auto "article" 1fr / 100%;
  }

  aside {
    display: none;
  }
}

/**
 * For 404's and error pages
 */
.centered-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.centered-layout h1 {
  font-size: 50px;
  line-height: var(--body-hr-line-height);
  margin-bottom: var(--body-hr-padding);
}

/**
 * Section grid layout
 */
.section-layout>header {
  grid-area: section-header;
}

.section-layout>article {
  grid-area: article;
}

.section-layout>aside {
  grid-area: aside;
}

.masthead {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.masthead h1 {
  font-size: larger;
}

body>header nav,
body>footer nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body>header nav ul,
body>footer nav ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

body>header nav ul li,
body>footer nav ul li {
  margin-right: var(--body-padding);
  list-style: none;
}

body>header nav ul li:last-child,
body>footer nav ul li:last-child {
  margin-right: 0
}

/* FOR THE ASIDE PAGE ELEMENT */
aside {
  border-left: 1px solid var(--timberwolf);
  padding: 0 0 0 var(--body-padding);
}

aside .article-item {
  padding: 0;
}

aside .article-item:first-child {
  padding-top: 0;
}

aside .article-item:last-child {
  border-bottom: none;
}

aside .feature {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  margin-bottom: var(--body-padding);
}

aside .feature h2 {
  font-weight: 600;
  border-bottom: 1px solid var(--color-foreground);
}

aside .feature h3 {
  font-weight: 500;
  border-bottom: 1px dotted var(--color-foreground);
}

aside.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
}

aside.sidebar #tag-list {
  order: -1;
}

aside.sidebar .articles {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* ARTICLE FORMATTING */

/* #main-article-meta-header.htmx-swapping {
  opacity: 0;
  transition: opacity 0.25s ease-out;
} */

.article-title {
  font-size: larger;
}

.article-item {
  margin: 0;
  margin-bottom: var(--body-padding);
}

.article-item .article-title {
  font-size: var(--body-font-size-secondary);
  line-height: var(--body-line-height-tertiary);
}

article header {
  border-bottom: 1px dotted var(--dim-gray);
  margin-bottom: var(--body-padding);
}

.meta {
  font-size: var(--body-font-size-tertiary);
  line-height: var(--body-line-height-tertiary);
}

.tags {
  margin-bottom: var(--body-padding);
}

.article-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--body-font-size-tertiary);
}

.article-tag:not(:last-child) {
  padding: 0 0.5rem 0 0;
}

article .content {
  display: flex;
  flex-direction: column;
}

article .content * {
  margin-bottom: var(--article-line-padding);
}

article .content h1,
article .content h2 {
  font-weight: 800;
}

article .content h3,
article .content h4 {
  font-weight: 600;
}

article .content ul,
article .content ol {
  list-style-position: inside;
  padding-left: var(--body-padding);
}

article .content ul {
  list-style-type: disc;
}

article .content ol {
  list-style-type: decimal;
}

article .content li {
  text-indent: calc(-1 * var(--body-padding));
  /* Moves first line left */
  padding-left: var(--body-padding);
  /* Ensures all lines align */
}

article .content em {
  font-style: italic;
  font-weight: 400;
}

article .content strong {
  font-weight: 600;
}

article .content pre {
  background-color: var(--color-accent-secondary);
  border-radius: 8px;
  color: var(--color-background);
  padding: var(--body-padding);
}

article img {
  max-width: 100%;
  height: auto;
  margin: 0 !important;
  border: 1px solid var(--color-accent-secondary);
  border-radius: 0.33em;
}

h3.article {
  line-height: normal;
}

figure figcaption {
  font-size: var(--body-font-size-tertiary);
  line-height: var(--body-line-height-tertiary);
  text-align: center;
}

ul p {
  display: inline;
}

p>code,
li>code,
dd>code,
td>code {
  background: #ffeff0;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .5rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px pink;
}

pre>code {
  display: contents;
  padding: 1.33em;
  border-radius: 0.33em;
}

a {
  text-decoration: none;
}

/* HTMx Transition Styles */
.htmx-swapping {
  opacity: 0;
  transition: opacity 0.25s ease-out;
}