extends ../layout-default.pug

block head 
  +head

block aside 
  div(hx-swap-oob="innerHTML:aside")
    +tagList(tags)
    +articleList(articles)

block mainContent
  +articleMeta(article)
  +articleContent(article)(id="article-body")
