extends ../layout-default.pug

block content
  .content  !{article.content}
    .navigation
      a(href="/articles") Back to articles

block meta
  h2= article.metadata.title
  h3= article.metadata.blurb
  p
    | Published on 
    span= article.metadata.createdAt

