extends ../layout

block head 
  +head

block aside 
  div(hx-swap-oob="innerHTML:aside")
    +tagList(tags)
    +articleList(articles)

block mainContent
  +articleMeta(article, "outerHTML:#main-article-meta-header")
  +articleContent(article)(id="article-body")
