extends ../layout-default.pug

block content
    h1 Edit Greeting
    form(action=`/greetings/${greeting.lang}` method="post")
        .form-group
            label(for="greeting") Greeting
            input(type="text" id="greeting" name="greeting" class="form-control" value=greeting.greeting)
        .form-group
            label(for="lang") Language
            input(type="text" id="lang" name="lang" class="form-control" value=greeting.lang readonly)
        button(type="submit" class="btn btn-primary") Update Greeting
        a(href="/greetings" class="btn btn-secondary ms-2") Cancel
