extends ../layout-default.pug

block content
    - var pageTitle = greetings.length === 1 ? 'Greeting' : 'Greetings'
    h1= pageTitle
    if errors
        .alert.alert-danger
            each error in errors
                p= error.message
    ul
        each greeting in greetings
            li(lang=greeting.lang)
                a(href=`/greetings/${greeting.lang}`)= greeting.greeting
    a(href="/greetings/new") New Greeting