extends ../layout-default.pug

block content
    h1 New Greeting
    form(action="/greetings" method="post")
        .form-group
            label(for="greeting") Greeting
            input(type="text" id="greeting" name="greeting" class="form-control")
        .form-group
            label(for="lang") Language
            input(type="text" id="lang" name="lang" class="form-control")
        button(type="submit" class="btn btn-primary") Create Greeting
        a(href="/greetings" class="btn btn-secondary ms-2") Cancel
