extends ../layout-default.pug

block content
    h1 Greeting
    .greeting
        h2(lang=greeting.lang)= greeting.greeting
    .navigation
        a(href=`/greetings/${greeting.lang}/edit`) Edit Greeting
        button(hx-delete=`/greetings/${greeting.lang}` hx-target="body") Delete Greeting
        a(href="/greetings") Back to greetings

