.fine-print © 2019-2025 Travis Colbert
nav.social
  ul 
    li 
      a(href="https://github.com/TravColbert") github
    li 
      a(href="https://linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=travis-colbert-756b6a1b9") linkedin
    //- li 
    //-   a(href="/contact") contact
