nav.social
  ul 
    li 
      a(href="/github") Github
        i.fa-brands.fa-github.shadowed
    li 
      a(href="/linkedin") Linkedin
        i.fa-brands.fa-linkedin.shadowed
    li 
      a(href="/contact") Contact
        i.fa-regular.fa-envelope
nav.fine-print 
  ul
    li
      span © 2025 Travis Colbert