.masthead
  h1
    a(href="/") Travis Colbert
nav
  ul
    li
      a(href="/articles", hx-get='/articles', hx-swap="innerHTML:#article-content swap:0.25s", hx-push-url="true") Articles
    li
      a(href="/about", hx-get='/about', hx-swap="innerHTML:#article-content swap:0.25s", hx-push-url="true") About
