.masthead
  h1.underlined.shadowed
    a(href="/") Travis Colbert
  .profile-image 
    img(src="/images/profile.jpg", alt="This is me")
  .blurb
    p I am a software engineer with a passion for building web applications. 
    p I provide innovative solutions to highly vertical problems.
nav
  ul
    li
      a(href="/") 
        i.fa-solid.fa-house-chimney
        | home
    li
      a(href="/articles") 
        i.fa-regular.fa-newspaper
        | articles
    li
      a(href="/about")
        i.fa-regular.fa-circle-question
        | about
