.masthead
  h1
    a(href="/") Travis Colbert
  //- .blurb
  //-   p I am a software engineer with a passion for building web applications. 
  //-   p I provide innovative solutions to highly vertical problems.
nav
  ul
    li
      a(href="/articles") Articles
    li
      a(href="/about") About
