head(lang="en", itemscope="itemscope", itemtype="http://schema.org/WebSite")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  - var appName = appName || pkg?.name || 'Node.js Express Mongoose Starter'
  - var appDescription = appDescription || pkg?.description || 'Node.js Express Mongoose Starter'
  - var keywords = appKeywords || pkg?.keywords || "nodejs, express, starter"
  - var title = appName + ' :: ' + title

  title= title
  meta(name="keywords", content= keywords)
  meta(name="description", content= appDescription)

  //- Cleaner, less-dependent preview meta-tag setup
  //- see: https://getoutofmyhead.dev/link-preview-meta-tags/
  meta(itemprop="name", content= title)
  meta(itemprop="description", content= appDescription)
  meta(itemprop="image", content="/logo.png")
  link(rel="alternate", type="application/json+oembed", href="https://getoutofmyhead.dev/oembed_link.json", title= title)

  script(src="https://unpkg.com/htmx.org@2.0.4", integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+", crossorigin="anonymous")
  link(rel="stylesheet", href="/css/reset.css")
  link(rel="stylesheet", href="/css/app.css")

  block head
    //- Define extra scripts and links in the 'head' block
