include mixins 

head(lang=lang || "en", itemscope="itemscope", itemtype="http://schema.org/WebSite")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  script(defer src="https://unpkg.com/htmx.org@2.0.4", integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+", crossorigin="anonymous")

  link(rel="stylesheet", href="/css/reset.css")
  link(rel="stylesheet", href="/css/app.css")

  block head
    +head

  meta(itemprop="image", content="/logo.png")#page-itemprop-image
  